<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319761018091-gfludmlm999vuqgdgaso5j46idbbt4ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319761018091-gfludmlm999vuqgdgaso5j46idbbt4ol</string>
	<key>API_KEY</key>
	<string>AIzaSyBXYvCZVs5JsJbti0V2jr1rfF6K9-gEOO0</string>
	<key>GCM_SENDER_ID</key>
	<string>319761018091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashioon</string>
	<key>PROJECT_ID</key>
	<string>fashioon-c5ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>fashioon-c5ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319761018091:ios:e07d75b5f45d2acd2ca2ae</string>
</dict>
</plist>